

<% @teams.each do |team|
    if team.user_id  == @user.id %>
        <div style="position: absolute; left: 43%; top: 20%;">
<h3 style="position: relative; background-color: rgb(158,144,109); width: 110%; border-radius: 70px; text-align: center; left: -05%;"><%= @user.username %>'s</h3>
<div id="rectangle" style="background-color: rgb(158,144,109);">
<table>
<tr>
<th style="padding: 3px; text-align: center;"> Teams:</th>
</tr>
<tr>
<th style="padding: 3px; text-align: center;">
    
        <% i = 0%>
            <%while i < Team.all.length%>
                    <a style="color: black;" href= "/teams/<%=team.id%>"><%= team.team_name %></a><br>
                <%i += 1%>
            <%break %>
        <%end%>
    <% end %>
    <%end%>
</th>
</tr>
</table>
</div>
</div>
<style>
body {
    background-image: url('/images/champ_img/league1.png');
    background-size: 100% 103%;
   
}
</style>