
<div style="position: absolute; left: 43%; top: 20%;">
<h3 style="position: relative; background-color: rgb(158,144,109); width: 110%; border-radius: 70px; text-align: center; left: -25%;">Select a User to Duel with!</h3>
<div id="rectangle" style="background-color: rgb(158,144,109);">
<table style="">
<tr>
<th style="padding: 3px; text-align: center;">Users</th>
</tr>
<tr>
<th style="padding: 3px; text-align: center;">
    <% @users.each do |user|%>
        <% i = 0%>
            <%while i < User.all.length%>
                    <a  style="color: black;" href= "/users/<%=user.id%>"><%= user.username %></a><br>
                <%i += 1%>
            <%break %>
        <%end%>
    <% end %>
</th>
</tr>
</table>
</div>
</div>
<style>
body {
    background-image: url('/images/champ_img/league1.png');
    background-size: 100% 103%;
   
}
</style>
    