<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>LegendsProject</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">

<link rel=”icon” type="image/x-icon" href=”/images” />
    <!-- Compiled and minified CSS -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </head>
  <body>
       <nav style="background-color:rgb(158,144,109);">
    <div class="nav-wrapper container" >
      <a href="/" class="brand-logo" style="color:rgb(75, 85, 86);">Legends!</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if !logged_in? %>
        <li><a href="/login">Login</a></li>
          <li><a href="/signup">Signup</a></li>
        <% else %>
          <li><a href="/users">DUEL!</a></li>
          <li><a href="/teams">My Teams</a></li>
          <li><a href="/teams/new">Create Team</a></li>
          <li><a href="/champions">Champions</a></li>
          <li><a href="/logout">Logout</a></li>
          
        <% end %>
      </ul>
    </div>
  </nav>
  <div class="container">
    <style>

  </style>    
    <%= yield %>
    </div>
  </div>

    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
    <%if logged_in?%>
<%@user_wins = []%>
    <%@user_loses = []%>
    <%@user = current_user%>
    <%@user.teams.collect do |team|%>
     <% @user_wins << team.wins%>
     <% @user_loses << team.loses%>
     <%end%>
    <div  style="width: 5%; position: absolute; top: 9px; left: 90%">
    <table >
            <tr>
                <td><%=current_user.username%> </td>
                <td>W:<%=@user_wins.sum%>L:<%=@user_loses.sum%></td>
            </tr>
    </table>
</div>
<%end%>
  </body>
</html>
