<h1 style="color:rgb(158,144,109); position:center;">Welcome to Legends!<h1>






<style>


 body {
    background-color: rgb(75, 85, 86);
    color: #333;
    font-family: Sans-Serif;
    line-height: 18px;
  }
  </style>
<img height="600px" src="/images/champ_img/league-welcome5.jpg">





<!--<h1>Teams List</h1>
<ul>
<% @teams.each do |team|%>
<li><a href="/teams/<%= team.id %>"><%= team.team_name %></li>
<% end %>
</ul>-->


  <!--  <style>body {
    background-color: rgb(75, 85, 86);
    color: rgb(200, 200, 200);
    font-family: Sans-Serif;
    line-height: 18px;
  }
  </style>
  -->